

/*
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Tourney:wght@500&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Tourney:wght@900&display=swap');
  

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9eb2fd;
  padding-bottom: 30px;
}

.container img{
  width: 30%;
  height: auto;
}


.card{
    background-color:#adffff ;
    flex: 1;
    align-items: center;
    height: 100;
    margin: 0 30px;
    padding: 35px 80px;
    border-radius: 20px;
    border: 3px solid black;
}

.title{
    
    font-family: 'Monoton', cursive;
    font-family: 'Tourney', cursive;
    font-size: 36px;
    margin-bottom: 20px;
    color: red;
    margin-left: 3px;
}

.gif{
  height: 50px;
  width: 55px;
}

.input{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  input[type="number"] {
    font-size: 20px;
    padding: 10px;
    margin-right: 20px;
    background-color: #fbf4ee;
    text-align: center;
  }

  input[type="text"]{
    font-size: 20px;
    padding: 10px;
    margin: 10px 104px;
    background-color: #fbf4ee;
    text-align: center;
  }

  select{
    font-size: 20px;
    padding: 10px;
    margin-right: 20px;
    background-color: #fbf4ee;
    text-align: center;
  }

  input[type="button"]{
    font-size: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 186px;
  }

  .output{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
  }

  /*------------------------CSS for small screens-------------------------*/

  @media only screen and (max-width: 600px)
  {
    .container{
      background-color: white;
    }

    .gif{
      display: none;
    }

    .title{
      display: block;
      margin: -232px 0 47px -17px;
      text-align: right;
    }

    .card{
      width: 200px;
      flex: 1;
      align-items: center;
      height: 100;
      margin: 0 30px;
      padding: 340px 80px;
    }

    .input{
      display: block;
    }

    #inputValue{
      margin: 0px 0px 18px -29px;
    }

    select{
      margin: 10px 10px 10px 22px;
    }

    input[type="button"]{
      margin: 10px 58px;
    }

    input[type="text"]{
      margin: 10px -23px;
    }
  }
